<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alex Santiago - Professional portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/static/assets/img/favicon.png" rel="icon"> -->
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Fuente agregada para el ícono de udemy -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Santiago</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="http://www.linkedin.com/in/alejandrostgo" target="_blank" class="Linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Alex-Stgo" target="_blank" class="Github"><i class="bx bxl-github"></i></a>
          <a href="https://www.udemy.com/user/omar-alejandro-santiago-santaella/" target="_blank" class="Udemy"><i class="iconify" data-icon="cib:udemy" data-inline="true"></i></a>
          <a href="https://www.coursera.org/user/c17d3e085bd9e704c15fc0130946d0a3" target="_blank" class="Coursera"><i class="iconify" data-icon="cib:coursera" data-inline="true"></i></a>
          <a href="https://www.kaggle.com/alexssk" target="_blank" class="Kaggle"><i class="iconify" data-icon="simple-icons:kaggle" data-inline="true"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-book-bookmark"></i> <span>Learning</span></a></li>
          <li><a href="/#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center section-project-title">
          <h2>Economic variable forecasting report</h1>
          <ol>
            <li><a href="/#portfolio">Home</a></li>
            <li>Economic variable forecasting report</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/portfolio-details-1.jpg" alt="">
                </div>
<!-- 
                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/portfolio-details-3.jpg" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Summary</h3>
              <ul>
                <li><strong>Category</strong>: Finance | Excel | Data analysis</li>
                <li><i class="bx bxl-github"></i><a href="/#about">&#09; Github repository</a></li>
                <li><i class="bx bxs-file"></i><a href="/#about">&#09; File to download</a></li>
                <!-- <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li> -->
              </ul>
              <p class="p-justified">
                <strong>The Economic Forecast Report </strong> is usually used as a guide to determine the strategy, budgets and plans for upcoming years.
                Government officials and business managers use economic forecasts to determine financial and operative policies according to the future cashflows. <br>
                The current report was built to automatically connect with <strong>The Central Bank' economists expectations </strong>  to disaggreagate the information to a month-to-month overview.
              </p>
            </div>
            <!-- <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div> -->
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Details</h2>
          <h4>Scope</h4>
          <p class="p-justified">
            The report was intented to consume information from the <strong>Central Bank Portal</strong>: <a href="https://www.banxico.org.mx/" target="_blank"> www.banxico.org.mx</a>,
             process it and present it in a relevant structure to allow the <strong>balance sheet</strong> and  <strong>income statement</strong> to be estimated for the following year. <br> 
             <em>Banxico</em> is considered as a reliable benchmark for the mexican market expectations. Banxico usually releases this information every end of month,
             collecting estimations from around 40 economists and providing the statistics related to their opinions. <br>
             The most important estimation from Banxico, related to the current report, is the <em>daily bank funding rate</em>. 
             As a prior analysis, the correlation between the daily bank funding rate and other mexican rates (such as <em>the interbank equilibrium interest rate</em> and <em>the treasury certificates interest rate</em>)
             was analyzed. The correlation for the rates to be estimated was above 0.95.
          </p>
          <div  class="img-body-port">
            <img src="/static/assets/img/portfolio/portfolio-details-1.jpg" class="img-fluid img-b-portfolio" alt="">
          </div>
        </div>
        <h4>Implementation</h4>
          <p class="p-justified">
            Given the previous results, the task consists basically in extract historical information to calculate the coeficients related to the regression to
            obtain the forecasted values for the rates in the scope.
            The report was built in a Excel worksheet using the <strong>Power Query</strong> functionality. It is important to highlight that <strong>Power Query</strong> and <strong>Power BI</strong> 
            rely on M code to program the data transformations. <br>
          </p>
          <p>
            Banxico has built and exposed its own API service to be consumed for the final users. The details about the API could be found <a href="https://www.banxico.org.mx/SieAPIRest/service/v1/"> here</a>. <br>
            The request construction is as follows: <br>
          </p>
          <p class="p-centered">
            <em>https://www.banxico.org.mx/SieAPIRest/service/v1/series/<strong>:SerieID</strong>/datos/<strong>:StartDate</strong>/<strong>:EndDate</strong></em> 
          </p>
          <p>
            As well, the headers must be declared:
          </p>
          <p class="p-centered">
            <em> <strong>Bmx-Token</strong>: e3980208bf01ec653aba9aee3c2d6f70f6ae8b066d2545e379b9e0ef92e9de25</em>
          </p>
          <p>
            So, the M code to consume the historical information of the <em>daily bank funding rate</em> is as follows:
          </p>
          <div  class="img-carbon">
            <img src="/static/assets/img/portfolio/Economic forecast/Code1.png" class="img-fluid img-carbon" alt="">
          </div>
          <p>
            The result is a table with the entire serie related delimited for the starting and the end date specified in the URL. 
            This process should be executed for each serie in scope, so it is a better solution to create a function tu be reused.
          </p>
          <p>
            However, it is necessary a prior function that allows to retrieve parameters from a table in the workbook. In this way, parameters such as the BMX token
            could be updated without updating de M code. As long as a table named <em>Parameters</em> exists with two columns: <em>Parameter</em> and <em>Value</em>, the code is the following:
          </p>
          <div  class="img-carbon">
            <img src="/static/assets/img/portfolio/Economic forecast/Code3.png" class="img-fluid img-carbon" alt="">
          </div>








          <div  class="img-body-port">
            <!-- <img src="/static/assets/img/portfolio/portfolio-details-1.jpg" alt=""> -->
            
          <!-- </div> -->
          
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>