<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alex Santiago - Professional portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/static/assets/img/favicon.png" rel="icon"> -->
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Fuente agregada para el ícono de udemy -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Santiago</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="http://www.linkedin.com/in/alejandrostgo" target="_blank" class="Linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Alex-Stgo" target="_blank" class="Github"><i class="bx bxl-github"></i></a>
          <a href="https://www.udemy.com/user/omar-alejandro-santiago-santaella/" target="_blank" class="Udemy"><i class="iconify" data-icon="cib:udemy" data-inline="true"></i></a>
          <a href="https://www.coursera.org/user/c17d3e085bd9e704c15fc0130946d0a3" target="_blank" class="Coursera"><i class="iconify" data-icon="cib:coursera" data-inline="true"></i></a>
          <a href="https://www.kaggle.com/alexssk" target="_blank" class="Kaggle"><i class="iconify" data-icon="cib:kaggle" data-inline="true"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-book-bookmark"></i> <span>Learning</span></a></li>
          <li><a href="/#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center section-project-title">
          <h2>Labyrinth solver</h1>
          <ol>
            <li><a href="/#portfolio">Home</a></li>
            <li>Labyrinth solver</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/Labyrinth/p1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/Labyrinth/lab1.JPG" alt="">
                </div>

                <!-- <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/Economic forecast/Header1.jpg" alt="">
                </div>    -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Summary</h3>
              <ul>
                <li><strong>Category</strong>: Machine Learning | Python </li>
                <li><i class="bx bxl-github"></i><a href="https://github.com/Alex-Stgo/Labyrinth-solver" target="_blank">&#09; Github repository</a></li>
                <!-- <li><i class="bx bxs-file"></i><a href="/static/files/Economic Forecast Report V1.xlsm">&#09; File to download</a></li> -->
              </ul>
              <p class="p-justified">
                A <strong> Markov decision process </strong> (MDP) is a discrete-time stochastic control process. It provides a mathematical framework for modeling decision making in situations 
                where outcomes are partly random and partly under the control of a decision maker. MDPs are useful for studying optimization problems solved via dynamic programming.
                In this exercise, we will use the temporal difference with the Bellman equation to obtain the optimal route in a labyrinth to get from the starting to the ending point. <br>
                <em>To maximize the Q-function we will use the argmax function.</em>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Details Section -->

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Details</h2>
          <!-- <h4>Scope</h4> -->
          <p class="p-justified">
            The main goal is to build an AI that will always take the shortest route to the top priority location, whatever the location it starts from.
          </p>
          <div class="row aos-init aos-animate mf-port" data-aos="fade-in" id=calculator>
            <div >
              <img src="/static/assets/img/portfolio/Labyrinth/lab1.JPG" class="img-fluid img-b-portfolio" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch port-form">
              <form action="/projects/labyrinth_solver/#calculator" method="POST">
                <div class="row">
                  <div class="form-group">
                    <label for="start_field">Starting point</label>
                    <select required name="start_field" id="start_field" class="form-control" >
                      <option value="0" {% if sn ==0 %} selected="selected"{% endif %}>A</option>
                      <option value="1" {% if sn ==1 %} selected="selected"{% endif %}>B</option>
                      <option value="2" {% if sn ==2 %} selected="selected"{% endif %}>C</option>
                      <option value="3" {% if sn ==3 %} selected="selected"{% endif %}>D</option>
                      <option value="4" {% if sn ==4 %} selected="selected"{% endif %}>E</option>
                      <option value="5" {% if sn ==5 %} selected="selected"{% endif %}>F</option>
                      <option value="6" {% if sn ==6 %} selected="selected"{% endif %}>G</option>
                      <option value="7" {% if sn ==7 %} selected="selected"{% endif %}>H</option>
                      <option value="8" {% if sn ==8 %} selected="selected"{% endif %}>I</option>
                      <option value="9" {% if sn ==9 %} selected="selected"{% endif %}>J</option>
                      <option value="10" {% if sn ==10 %} selected="selected"{% endif %}>K</option>
                      <option value="11" {% if sn ==11 %} selected="selected"{% endif %}>L</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="end_field">Ending point</label>
                    <select required name="end_field" id="end_field" class="form-control">
                      <option value="0" {% if dn ==0 %} selected="selected"{% endif %}>A</option>
                      <option value="1" {% if dn ==1 %} selected="selected"{% endif %}>B</option>
                      <option value="2" {% if dn ==2 %} selected="selected"{% endif %}>C</option>
                      <option value="3" {% if dn ==3 %} selected="selected"{% endif %}>D</option>
                      <option value="4" {% if dn ==4 %} selected="selected"{% endif %}>E</option>
                      <option value="5" {% if dn ==5 %} selected="selected"{% endif %}>F</option>
                      <option value="6" {% if dn ==6 %} selected="selected"{% endif %}>G</option>
                      <option value="7" {% if dn ==7 %} selected="selected"{% endif %}>H</option>
                      <option value="8" {% if dn ==8 %} selected="selected"{% endif %}>I</option>
                      <option value="9" {% if dn ==9 %} selected="selected"{% endif %}>J</option>
                      <option value="10" {% if dn ==10 %} selected="selected"{% endif %}>K</option>
                      <option value="11" {% if dn ==11 %} selected="selected"{% endif %}>L</option>
                    </select>
                  </div>
                </div>
               

                <button type="submit">Calculate</button>
              </form>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch port-form">
              <div class="section-title">
                {% if result %}
                  <p>The route to get from <strong>{{start}}</strong> to <strong> {{end}} </strong> is:</p> <br>
                  <p> <strong>  {{route}}</strong></p>
                {% else %}
                    <p> <em> -- Select some values in the left pane to start -- </em> </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>