<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alex Santiago - Professional portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/static/assets/img/favicon.png" rel="icon"> -->
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Fuente agregada para el ícono de udemy -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Santiago</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="http://www.linkedin.com/in/alejandrostgo" target="_blank" class="Linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Alex-Stgo" target="_blank" class="Github"><i class="bx bxl-github"></i></a>
          <a href="https://www.udemy.com/user/omar-alejandro-santiago-santaella/" target="_blank" class="Udemy"><i class="iconify" data-icon="cib:udemy" data-inline="true"></i></a>
          <a href="https://www.coursera.org/user/c17d3e085bd9e704c15fc0130946d0a3" target="_blank" class="Coursera"><i class="iconify" data-icon="cib:coursera" data-inline="true"></i></a>
          <a href="https://www.kaggle.com/alexssk" target="_blank" class="Kaggle"><i class="iconify" data-icon="cib:kaggle" data-inline="true"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-book-bookmark"></i> <span>Learning</span></a></li>
          <li><a href="/#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center section-project-title">
          <h2>Swap spread calculator</h1>
          <ol>
            <li><a href="/#portfolio">Home</a></li>
            <li>Swap spread calculator</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/static/assets/img/portfolio/Swap calculator/p1.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Summary</h3>
              <ul>
                <li><strong>Category</strong>: Finance | Python | Mathematical models </li>
                <li><i class="bx bxl-github"></i><a href="/#about">&#09; Github repository</a></li>
                <!-- <li><i class="bx bxs-file"></i><a href="/static/files/Economic Forecast Report V1.xlsm">&#09; File to download</a></li> -->
              </ul>
              <p class="p-justified">
                A swap is a derivative contract through which two parties exchange the cash flows or liabilities from two different financial instruments. 
                One cash flow is generally fixed, while the other is variable and based on a benchmark interest rate.
                Given the features of the legs, the purpose of the current calculator is to determine the <strong> spread for the first leg </strong> to equal both present values.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Details Section -->

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Details</h2>
          <!-- <h4>Scope</h4> -->
          <p class="p-justified">
            <!-- The calculator covers the calculation of the spread over the variable leg given a fixed rate and the periods for each leg with a $1,000,000 MXN. -->
            The variable leg considers periods of 28 days while the fixed leg considers periods of one calendar month. 
            <br>
            In the GitHub repository, you can check out the code for the calculation for more types of swaps, including a cross-currency swap.

          </p>
          <div class="row aos-init aos-animate mf-port" data-aos="fade-in" id=calculator>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch port-form-75">
              <form action="/projects/swap_calculator/#calculator" method="POST" class="form-tag">
                <div class="subdiv2">
                  <h4>Variable Leg</h4>
                  <label for="notional1">Notional</label>
                  <input required type="number" name="notional1" id="notional1"  class="form-control w80" {% if data['calculated'] %} value={{data['notional1']}} {% else %} value=1000 {% endif %}>
                  <label for="periods1">Number of periods</label>
                  <input required type="number" name="periods1" id="periods1"  class="form-control w80" {% if data['calculated'] %} value={{data['periods1']}} {% else %} value=13 {% endif %}>
                </div>

                <div class="subdiv2">
                  <h4>Fixed Leg</h4>
                  <label for="notional2">Notional</label>
                  <input required type="number" name="notional2" id="notional2"  class="form-control w80" {% if data['calculated'] %} value={{data['notional2']}} {% else %} value=1000 {% endif %}>
                  <label for="periods2">Number of periods</label>
                  <input required type="number" name="periods2" id="periods2"  class="form-control w80" {% if data['calculated'] %} value={{data['periods2']}} {% else %} value=12 {% endif %}>
                  <label for="rate2">Rate</label><p class="footnotes"> <em> (In percentage) </em> </p>
                  <input required type="number" step="0.01" name="rate2" id="rate2"  class="form-control w80" {% if data['calculated'] %} value={{data['rate2']}} {% else %} value=4 {% endif %}>
                </div>
                <button type="submit" class="port-button">Calculate</button>
              </form>
            </div>



            <!-- Resultados -->
            {% if data.calculated %}
            <div class="port-form-full">
              <div class="subdiv2">
                <h4>Flows for the variable leg</h4>
                <br>
                <div class="table-concept">
                  <table style="width:100%">
                    <tr>
                      <th></th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Rate</th>
                      <th>Interest</th>
                      <th>Total in PV</th>
                    </tr>
                    {% for (_,start,end,notional,rate,rate_spr,int,df,amor,cf,cf_pv) in data['l1'].itertuples() %}
                    <tr>
                      <td>{{loop.index0+1}}</td>
                      <td>{{ start }}</td>
                      <td>{{ end }}</td>
                      <td>{{ "{:.2%}".format(rate_spr) }}</td>
                      <td>{{ "${:,.2f}". format(int) }}</td>
                      <td>{{ "${:,.2f}". format(cf_pv) }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="subdiv2">
                <h4>Flows for the fixed leg</h4>
                <br>
                <div class="table-concept">
                  <table style="width:100%">
                    <tr>
                      <th></th>
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Rate</th>
                      <th>Interest</th>
                      <th>Total in PV</th>

                    </tr>
                    {% for (_,start,end,notional,rate,rate_spr,int,df,amor,cf,cf_pv) in data['l2'].itertuples() %}
                    <tr>
                      <td>{{loop.index0+1}}</td>
                      <td>{{ start }}</td>
                      <td>{{ end }}</td>
                      <td>{{ "{:.2%}".format(rate_spr) }}</td>
                      <td>{{ "${:,.2f}". format(int) }}</td>
                      <td>{{ "${:,.2f}". format(cf_pv) }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="w100">
                <p>The spread required for the variable leg to equal the fixed leg present value is <strong> {{  data['spread']  }} </strong> pb</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>